
.even {
  background-color: rgb(214, 214, 214);
}

.odd {
  background-color: rgb(75, 75, 75);
  color: white;
}

th.order {
  cursor: pointer;
}

img {
  width: 6em !important;
  height: 4.5em;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

mat-card {
  cursor: pointer !important;
}
