@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  font-family: 'Questrial', sans-serif;
}


.even {
  background-color: rgb(214, 214, 214);
}

.odd {
  background-color: rgb(75, 75, 75);
  color: white;
}

th.order {
  cursor: pointer;
}
