<div class="container mt-4 mb-5">
  <h1 class="display-4 text-white">
    <!-- Pipes per defecte -->
    {{ "circuitos" | translate | uppercase }}
  </h1>
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 text-center align-self-end">
      <button class="btn btn-outline-light order m-2" (click)="circuitsSortBy('country')">
        {{ 'ordenaporpais' | translate }}
      </button>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 text-center align-self-end">
      <button class="btn btn-outline-light order m-2" (click)="circuitsSortBy('name')">
        {{ 'ordenapornombre' | translate }}
      </button>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
      <label class="form-label text-white" for="filterDesc">{{
        "buscarpornombre" | translate
        }}</label>
      <input type="text" [(ngModel)]="filterSearch" (change)="search($any($event.target).value)" class="form-control"
        name="filterDesc" id="circuitfilter" placeholder="" />
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
      <label class="form-label text-white" for="filterDesc">{{
        "buscarportemporada" | translate
        }}</label><input type="number" [(ngModel)]="filterYear" class="form-control" name="year" id="year"
        placeholder="1975 - 2021" />
    </div>
  </div>
  <div class="circuit-name display-6 text-white fs-2 text-center mt-4" role="alert"></div>
  <div class="d-flex flex-wrap mt-4 justify-content-center">
    <!-- *ngFor  -->
    <!-- Pipe personalitzat -->
    <app-circuit-individual [c]="circuit" *ngFor="
        let circuit of circuitsList | circuitFilter: filterSearch;
        let odd = odd;
        let even = even;
        let i = index
      "></app-circuit-individual>
  </div>
</div>
