<div id="navbar" [ngClass]="(!show) ? 'd-none' : 'd-block container mt-4 animate__animated animate__fadeInDown'">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" [routerLink]="['home']" [routerLinkActive]="['active']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['circuitsCatalogue']" [routerLinkActive]="['active']">Circuits</a>
    </li>
    <li class="nav-item">
      <button (click)="newUser()" class="nav-link" href="">newUser</button>
    </li>
    <li class="nav-item">
      <a (click)="logOut()" class="nav-link" href="#" tabindex="-1" aria-disabled="true">Logout</a>
    </li>
  </ul>
</div>
