<div class="row">
  <div class="col-7 bg-danger d-flex justify-content-end align-items-center">
    <div class=" ">
      <img [src]="'./assets/img/pirelli_wheel.png'">
    </div>
    <div class=" ">
      <p class="title f1">F1</p>
    </div>
  </div>
  <div class="col-5 bg-dark d-flex align-items-center justify-content-start">
    <div class="ms-4  ">
      <p class="title database">DATABASE</p>
      <form class="form">
        <div class="form-group">
          <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required="required"
            class="form-control bg-dark" />
        </div>
        <div class="form-group mt-2">
          <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required="required"
            class="form-control bg-dark" />
        </div>
<div class="d-flex">
  <button type="submit" class="btn btn-danger mt-2 me-2" (click)="login()">
    Acceder
  </button>
  <button type="submit" class="btn btn-secondary mt-2">
    Nuevo usuario
  </button>
  <div id="errorLogin" [ngClass]="loginError === false ? 'd-none' : 'alert alert-danger mt-2 ms-2'" role="alert">
    {{errorMessage}}
   </div>
</div>
      </form>

    </div>
  </div>
</div>
