<div class="container d-flex justify-content-center align-items-center">
  <div class="advisor-container d-flex justify-content-center" [ngClass]="loginError === false ? 'd-none' : 'd-block'">
    <div class="advisor d-flex justify-content-center">
      <div class="advisor-1">
        <img class="img-fia" src="./assets/img/fia_logo.png" alt="" />
      </div>
      <div class="advisor-2 d-flex justify-content-center align-items-center">
        <div class="advisor-2-text">RACE CONTROL</div>
      </div>
      <div class="advisor-3 d-flex justify-content-center align-items-center">
        <div class="advisor-3-text">{{ errorMessage }}</div>
      </div>
    </div>
  </div>
  <div class="row border-2 mt-4">
    <div class="col-xl-7 col-md-7 col-sm-12 col-12 bg-dark d-md-block d-none">
        <p class="title f1">F1</p>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12 col-12 bg-dark d-md-none d-sm-block text-center">
        <p class="title f1 small">F1</p>
    </div>
    <div class="col-xl-5 col-md-5 col-sm-12 col-12 bg-dark d-flex flex-column justify-content-center">
      <!-- Formulari de plantilla -->
        <form class="form">
          <div class="mt-2">
            <mat-form-field>
              <input matInput type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required="required"
               />
            </mat-form-field>
          </div>
          <div class="mt-2">
            <mat-form-field>
              <input matInput type="password" [(ngModel)]="user.password" name="password" placeholder="Password"
              required="required"  />
            </mat-form-field>
          </div>
          <div class="d-flex">
            <button mat-raised-button color="warn" type="submit" class="mt-2" (click)="login()">
              Acceder
            </button>
            <button mat-raised-button color="warn"  class="mt-2 ms-1" (click)="register()"
             >{{'newUser' | translate}}</button>
          </div>
        </form>
      </div>
  </div>
</div>
